body {
  margin: 0;
  background: #d5eef8;
  background: #d5eef8;
  background: #d5eef8;
  background: -moz-linear-gradient(
    -45deg,
    #d5eef8 20%,
    #f6c2c2 20%,
    #f6c2c2 80%,
    #a1dbef 80%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(20%, #d5eef8),
    color-stop(20%, #f6c2c2),
    color-stop(80%, #f6c2c2),
    color-stop(80%, #a1dbef)
  );
  background: -webkit-linear-gradient(
    -45deg,
    #d5eef8 20%,
    #f6c2c2 20%,
    #f6c2c2 80%,
    #a1dbef 80%
  );
  background: -o-linear-gradient(
    -45deg,
    #d5eef8 20%,
    #f6c2c2 20%,
    #f6c2c2 80%,
    #a1dbef 80%
  );
  background: -ms-linear-gradient(
    -45deg,
    #d5eef8 20%,
    #f6c2c2 20%,
    #f6c2c2 80%,
    #a1dbef 80%
  );
  background: linear-gradient(
    135deg,
    #d5eef8 20%,
    #f6c2c2 20%,
    #f6c2c2 80%,
    #a1dbef 80%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d5eef8', endColorstr='#a1dbef', GradientType=1);
  font-family: "Raleway", "sans-serif";
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  min-height: 100%;
}

.washingMachine__container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1030px) {
  .washingMachine__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
